@use "../abstracts/" as *;

.tag{
    --bg-color: var(--verde);
    display: flex;
    padding: to-rem(12) to-rem(16);
    border-radius: to-rem(60);
    background: var(--bg-color);
    gap: to-rem(8);
    font-weight: var(--font-w-bold);
    color: var(--neutral-white);

    i{
        color: var(--bg-color);
        display: flex;
        height: to-rem(16);
        width: to-rem(16);
        align-items: center;
        justify-content: center;
        background: var(--neutral-white);
        border-radius: to-rem(60);
    }
}